@tailwind base;
@tailwind components;
@tailwind utilities;

/* Carousel CSS */
.carousel {
    text-align: center;
}

.carousel .slide{
    background: #fff;
}

.carousel .slide img {
    max-height: 500px;
    width: auto;
}

.carousel .slider-wrapper {
    width: 50%;
}

.carousel .thumb {
    width: 5%;
    height: 50px;
}

.carousel .thumb.selected, .carousel .thumb:hover {
    border: 3px solid #9333ea !important;
}